{% extends "base.html" %} {% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Django APP</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, maiores
      dolor sed deleniti, nobis nam sequi error itaque laboriosam sit ea? Qui
      laborum accusamus blanditiis incidunt saepe asperiores soluta illo? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Non sunt doloremque
      corrupti accusantium eligendi sapiente nemo. Adipisci, ad unde molestias
      nostrum provident, aut quam, ex aliquid non iste quod excepturi! Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, officiis.
      Facere, eum rerum nobis doloremque, cupiditate assumenda exercitationem ut
      et culpa, dolore quae quidem minus minima eos molestiae? Enim, nisi!
    </p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">Signin</a>
      <a class="btn btn-primary" href="/signup/">Signup</a>
    </div>
  </section>
</main>
{% endblock %}
